body {
    margin: 0;
    padding: 0;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;

}

.Mobile-Container {
    width: 100%;
    height: 100%;
}

.Mobile-profile-content {
    padding-left: 2rem;
    padding-right: 2rem;
    background: #484848;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
}

.Mobile-profile {
    padding: 1.25rem;
}

.Mobile-Header {
    font-size: 2.5rem;
    color: #fff;
    position: relative;
}

.Mobile-position {
    font-size: 1.5rem;
    color: #fff;
    position: relative;
}

.Mobile-job {
    font-size: 1.2rem;
    color: #fff;
    position: relative;
}

.Mobile-Details-content {
    overflow: auto;
    padding: 2rem;
    max-width: 38rem;
}

.Sub-Header {
    color: #6e6e6e;
    font-size: 22px;
    font-weight: 600;
}

.Mobile-Details {
    color: #6e6e6e;
    font-size: 18px;
}



.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}


.navbar-brand {
    padding-top: 1rem;
}

.navbar {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);

}

.Mobile-Border {
    border-bottom: 1px solid #6e6e6e;
}

.Mobile-footer {
    left: 0;
    bottom: 0;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    width: 100%;
    color: #aaa;
}

.Footer-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0, 0, 0, .125);
}

.Footer-Padding {
    padding-left: 1rem;
    padding-right: 1rem;
}


@media only screen and (max-width:425px) {
    .Card-width {
        width: 100%;

    }

    .image {
        width: 100%;
    }

    .Project-box {
        height: 460px;
        border-bottom: 1px solid #6e6e6e;
    }
}

@media only screen and (width:1024px) {
    .navbar-brand {
        padding-top: 0.3125rem;
    }
}