.body {
    margin: 0;
    padding: 0;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    box-sizing: border-box;
}

/* Attributes for all the pages */
img {
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.Page-Container {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
}

.Portfolio-Container {
    width: 300px;
    padding-left: 40px;
    padding-top: 10px;
}

.Portfolio-Content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 285px;
    width: 40%;
    left: 30%;
    top: 30%;
    padding-left: 42px;
    padding-right: 5px;
}

.Portfolio-Header {
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    white-space: nowrap;

}

#Port-Position {
    font-size: 24px;
    white-space: normal;
}

.Job-Text {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.Main-Border {
    border-bottom: 1px solid #656565;
}

.Main-Padding {
    padding-bottom: 1rem;
}

.list-group-item {
    background: none;
    font-size: 18px;
}

.Card-width {
    width: 18.7rem;
}

.Home-Text {
    padding-right: 25px;
    padding-left: 25px;
}

/* Attributes for Skills page */
.Skills-Content {
    width: 70%;
    padding-top: 50px;
}

.Skills-Padding {
    padding-left: 15px;
    padding-right: 15px;
}

.Skills-Flex {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.toast:not(:last-child) {
    margin-bottom: 0;
}

.toast {
    flex: 0 0 25%;
    margin-left: auto;
    margin-right: auto;
}

.Typist-Att {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.Content-Nav {
    position: relative;
    font-size: 22px;
    padding-left: 30px;
    padding-top: 25px;
}

.Text-Mobile {
    position: relative;
    padding-top: 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.Content-Nav a {
    color: #fff;
}

a:hover {
    color: #303030;
}

a.active {
    color: #303030;
}

li {
    list-style: none;
}

button {
    margin-top: 10px;
}

a:not([href]):not([tabindex]) {
    color: #fff;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.Project-image {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 350px;
    height: 500px;
    overflow: auto;
}

.Project-box {
    height: 430px;
}

.image {
    position: absolute;
    width: 300px;
    height: 150px;

}




/* Att For Mobile Screen */
@media only screen and (width: 320px) {}

/* Att for Mobile Screen Large */
@media only screen and (width: 375px) {}

/* Att For Tablet Screen */
@media only screen and (width: 768px) {}


@media only screen and (width: 1280px) {

    .Portfolio-Content {
        height: 305px;
        padding-left: 35px;
        padding-top: 5px;

    }

    .Project-image {
        right: 5px;
    }

    .Typist-Att {
        font-size: 16px;
    }
}

@media only screen and (width: 1366px) {
    .Portfolio-Content {
        height: 290px;
        padding-left: 35px;
    }


}

/* Att For Screen Size 1440px */
@media only screen and (width: 1440px) {
    .Portfolio-Content {
        height: 350px;
        padding-top: 15px;
    }

}

@media only screen and (width: 1600px) {
    .Portfolio-Content {
        height: 330px;
        padding-top: 15px;
    }

    .Skills-Padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    a {
        font-size: 28px;
    }

}

@media only screen and (width: 1920px) {
    .Portfolio-Header {
        font-size: 60px;
    }

    #Port-Position {
        font-size: 38px;
    }

    a {
        font-size: 38px;
    }

    .Portfolio-Container {
        width: 375px;
    }

    .Portfolio-Content {
        height: 410px;
        padding-top: 10px;
        padding-left: 45px;
    }

    .Project-image {
        width: 450px;
    }

    .image {
        width: 450px;
        height: 200px;
    }

    .card {
        width: 20rem;
    }

    .Project-box {
        height: 430px;

    }

    .Card-width {
        width: 28rem;
    }

    .Typist-Att {
        font-size: 24px;
    }

    .Job-Text {
        font-size: 28px;
    }

    li {
        font-size: 34px;
    }

    label {
        font-size: 22px;
    }

    .Skills-Padding {
        padding-right: 25px;
        padding-left: 25px;
    }

    .toast {
        font-size: 22px;
    }
}